
.form {
    width: 800px;
    margin: 60px auto;
    position: absolute;
    top: 60%;
    left: 50%;
    color:black;
    background-color: lightblue;
    padding: 30px;
    transform: translate(-50%, -50%); 
}
form{
    margin-top: 20px;
}
.row{
    padding:10px;
}
.title{
     font-size: 30px;
     padding: 5px;
}
.styleRows{
   display: flex;
   padding: 10px;
}
.btn{
 display: block;
 margin-left: 10px;   
 color:black;
}
.styleradio{
    display: flex;
   padding: 10px;
   gap:20px;
}
p{
    font-weight: bold;
    margin-bottom: 10px;
}
.input{
    width:300px;
    margin-left: 10px;
}
