
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:1000px;
    align-items: center;
    }
    
.section{
    color:black;
    padding: 30px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    cursor:pointer;
    margin:3px auto;
}


.btn{
    width: 80px;
    margin: 30px;
    background-color: blue;
    color:white;
    cursor: pointer;
    background-color: rgb(92, 92, 224);
}

.title{
    color:black;
    text-align: center;
    font-size: 25px;
    align-self: center;
    margin:0px auto;
}
.addemployee{
    display: block;
    align-items: right;
    color:white;
    border:2px solid rebeccapurple;
}